.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  top: 45%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  text-align: left;
  border-radius: 0.4em;
  padding: 18px;
  border: 1px solid rgb(109, 109, 109);
}

.modal-title {
  h3 {
    margin-top: 0;
  }
}

.modal-close {
  position: absolute;
  color: #838383;
  top: 3px;
  right: 10px;
  font-size: 28px;
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
  color: #000;
}

/* Medium devices */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .modal-content {
    width: 60% !important;
  }
}

/* Small devices */
@media only screen and (max-width: 768px) {
  .modal-title h3 {
    font-size: 1.05em;
  }
  .modal-message p {
    font-size: 0.9em;
  }
}

/* Small devices */
@media only screen and (min-width: 568px) and (max-width: 768px) {
  .modal-content {
    width: 75% !important;
  }
}

/* Small devices */
@media only screen and (max-width: 568px) {
  .modal-content {
    width: 85% !important;
  }
}
